@import "../utils/mixins";
/* Read */
.read {
  margin-bottom: 12rem;
  @include respond(xl) {
    margin-bottom: 8rem;
  }
  &__container {
    @include flex($gap: 8rem, $align: center);
    @include respond(xl) {
      flex-direction: column;
    }
  }
  &__img {
    border-radius: 1rem;
    @include respond(xl) {
      order: 1;
    }
    @include respond(560px) {
      width: 100%;
      max-width: 350px;
      height: 320px;
    }
  }
  &__title {
    margin-bottom: 3.4rem;
    color: $neutral-900;
  }
  &__title-2 {
    letter-spacing: -2px;
  }
  &__description {
    @include flex($gap: 1.4rem, $align: center);
    color: $neutral-700;
    font-weight: 400;
    margin-bottom: 2.4rem;
    font-family: $main-ff;
    &::before {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url("../assets/icon-check.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &__description-2 {
    font-family: $main-ff;
    font-weight: 400;
    color: $neutral-700;
  }
  .club {
    display: inline-block;
    background-image: url("../assets/pattern-circle.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
    background-position: top 10px right;
  }
  &__content {
    order: 1;
    &-img {
      margin-left: -7rem;
      margin-top: -15rem;
      @include respond(md) {
        margin-left: 30rem;
      }
      @include respond(450px) {
        display: none;
      }
    }
  }
}
/* Travel */
.travel {
  margin-bottom: 12rem;
  @include respond(lg) {
    display: none;
  }
  &__container {
    padding: 8rem 6rem;
    background-color: $neutral-100;
    background-image: url("../assets/pattern-light-bg.svg");
  }
  &__title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 530px;
    margin-bottom: 8rem;
  }
  &__list {
    @include flex($justify: space-between, $align: center, $wrap: wrap);
  }
  &__item {
    width: 250px;
    &-content {
      @include flex($justify: space-between);
    }
    &-title {
      font-size: $font-4;
      line-height: 1;
      border: 2px solid $neutral-900;
      padding: 1rem 1.4rem;
      border-radius: 0.4rem;
    }
  }
}
// Pricing
.pricing {
  margin-bottom: 12rem;
  @include respond(lg) {
    margin-bottom: 8rem;
  }
  @include respond(sm) {
    margin-bottom: 6.4rem;
  }
  &__title {
    margin-bottom: 6.4rem;
    @include respond(md) {
      margin-bottom: 4rem;
    }
    @include respond(sm) {
      margin-bottom: 2.4rem;
      font-size: $font-3-m;
    }
  }
  &__list {
    @include flex($justify: center, $wrap: wrap, $gap: 2.4rem);
  }
  &__item {
    padding: 2.4rem;
    width: 350px;
    border: 1px solid $neutral-200;
    border-radius: 0.8rem;
    &-title {
      font-size: $font-4;
      color: $neutral-900;
      margin-bottom: 2.4rem;
    }
    h1 {
      padding-bottom: 2.4rem;
      border-bottom: 1px solid $neutral-200;
      margin-bottom: 2.4rem;
    }
    &-month {
      color: $neutral-700;
    }
    &-check {
      @include flex($align: center, $gap: 1.2rem);
      color: $neutral-700;
      font-size: $font-5;
      margin-bottom: 1.6rem;
    }
    &-btn {
      margin-top: 1.6rem;
      padding: 2rem 3rem;
      background-color: $light-salmon-50;
      border: 2px solid $neutral-700;
      border-radius: 0.8rem;
      text-align: center;
      width: 100%;
    }
    &-pro {
      padding: 4rem 2.4rem;
      background-color: $neutral-100;
      transform: scale(1.05);
    }
  }
}
// Solutions
.solutions {
  margin-bottom: 8rem;
  @include respond(lg) {
    margin-bottom: 6.4rem;
  }
  &__container {
    @include flex($direction: column, $justify: center, $align: center);
    text-align: center;
    @include respond(lg) {
      text-align: left;
      @include flex($direction: column, $justify: center, $align: flex-start);
    }
  }
  &__img {
    margin-bottom: 3.2rem;
  }
  &__title {
    margin-bottom: 3.4rem;
    @include respond(sm) {
      font-size: 2.4rem;
    }
  }
  &__description {
    font-size: 2rem;
    color: $neutral-700;
    line-height: 140%;
  }
}
